<h1>Signup!</h1>

<%= form_for @user, url: '/users' do |f| %>

	<% if @user.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

	    <ul>
	    <% @user.errors.full_messages.each do |message| %>
	      <li><%= message %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>

  Username: <%= f.text_field :username %>
  Name: <%= f.text_field :name %>
  Email: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>

<% end %>